# macOS
.DS_Store

# Jupyter / Python
.ipynb_checkpoints/
__pycache__/
*.pyc

# Data (adjust paths as needed)
data/
*.h5
*.pt
*.pth
*.onnx

__pycache__/
*.py[cod]
.venv/
venv/
env/
*.egg-info/
.ipynb_checkpoints/
*.log

# models (avoid pushing big files)
checkpoints/
# ignore .pt only under notebook/runs
/runs/*.pt
/runs/**/*.pt
/notebook/runs/*.pt
/notebook/runs/**/*.pt

# VS Code
.vscode/
EOF